@using Service
@model Service.Products

<div class="conatainer p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">List product of 
                @foreach (var item in (IEnumerable<Category>)ViewData["Categories"])
                {
                    if (item.Id == (int)ViewData["CategoryId"])
                    {
                        @item.Name
                        break;
                    }
                }
            </h1>
        </div>
        <div class="text-end" style="margin-bottom: -50px">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create
            </a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Tag Name
                </th>
                <th>
                    Active
                </th>
                <th>
                    CreatedDate
                </th>
                <th>
                    UpdatedDate
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Items)
            {
                <tr>
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.TagName
                    </td>
                    <td>
                        @obj.Active
                    </td>
                    <td>
                        @obj.CreatedDate.ToDateTime().ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @obj.UpdatedDate.ToDateTime().ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a asp-controller="Product" asp-action="Edit" class="btn btn-primary" asp-route-id="@obj.Id">Edit</a>
                        <a asp-controller="Product" asp-action="Delete" class="btn btn-primary" asp-route-id="@obj.Id">Delete</a>
                        @*<a asp-controller="Product" asp-action="Detail" class="btn btn-primary" asp-route-id="@obj.Id">Detail</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>