
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h3>All Users</h3>
                </div>
                <div class="col-12 col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active"> List</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

<div class="container-fluid">                       

            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header pb-0">
                    <h5>Users List</h5><span>All the <code>Users</code>.</span><span>In your RMS.</span>
                    @if (ViewBag.success != null)
                    {
                        <div class="alert alert-success">
                            <strong>@ViewBag.success</strong>
                        </div>
                    }
                    @if (ViewBag.update != null)
                    {
                        <div class="alert alert-info">
                            <strong>@ViewBag.update</strong>
                        </div>
                    }

                    @if (ViewBag.delete != null)
                    {
                        <div class="alert alert-danger">
                            <strong>@ViewBag.delete</strong>
                        </div>
                    }

                    @if (ViewBag.failed != null)
                    {
                        <div class="alert alert-warning">
                            <strong>@ViewBag.failed</strong>
                        </div>
                    }
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="display" id="basic-1">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone No</th>
                            <th>Address</th>
                            <th>Files</th>
                            <th>Profile Picture</th>
                            <th>Registered</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          @foreach (var item in ViewBag.userLists.Items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.Address</td>
                                <td>
                                    @foreach (var files in item.UserDocs)
                                    {
                                        <span>
                                            <a style="margin-top:10px;" class="btn btn-danger btn-xs" target="_blank" href="/User/GetDocumentById?id=@files.UserDocId"><span class="icon icon-paperclip"></span> @files.FileName</a>
                                        </span>
                                    }
                                </td>
                                @if (!item.ProfilePic.IsEmpty)
                                {
                                    var base64 = Convert.ToBase64String(item.ProfilePic.ToByteArray());
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <td>
                                        <img src="@imgSrc" height="50" width="50" >
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <img src="~/images/user.png" height="50" width="50" >
                                    </td>

                                }

                                <td>@item.CreatedDate</td>
                                <td>
                                    <a asp-controller="User" asp-action="Index" asp-route-uId="@item.UserId" class="btn btn-pill btn-danger btn-air-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a asp-controller="User" asp-action="DeleteUser" asp-route-id="@item.UserId" class="btn btn-pill btn-danger btn-air-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            }                       
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
